<div class="container">
  <div class="jumbotron">
    <h1>Not found</h1>
    <p>You are looking for something non-exist.</p>
    <p>Possible reasons:</p>
    <ul>
      <li>URL changed / removed.</li>
      <li>Mistyped URL.</li>
      <li>This is actually what you want? ;)</li>
    </ul>
  </div>
</div>