<div class="container">
  <div class="jumbotron">
    <h1>ページが見つかりません</h1>
    <p>検索中のページは見つかりません。</p>
    <p>可能の原因：</p>
    <ul>
      <li>アドレスは変更されたか、または削除されました。</li>
      <li>間違いのアドレスを入力しました。</li>
      <li>もしかしてこのページこそみたいですか。ww</li>
    </ul>
  </div>
</div>
