<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Blog</h2>
        <hr>
      </div>

      <%- @posts.each do |post| %>
        <div class="col-lg-12 text-center">
          <h2>
            <%= post.title %><br>
            <small><%= post.published_at %></small>
          </h2>

          <%#= image_tag "post_image", class: "img-responsive img-border img-full", alt: "" %>

          <div class="post-body text-left">
            <%= post.content.html_safe %>
          </div>

          <%#= link_to "Read More", "", class: "btn btn-default btn-lg" %>
          <hr>
        </div>
      <%- end %>

      <div class="col-lg-12 text-center">
        <%= paginate @posts, theme: "frontend" %>
      </div>
    </div>
  </div>
</div>
